.card{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1px;
    margin-bottom: 1%;
    /*background-color: black;
    border: 1px solid;*/
    padding: 10px;
    /*box-shadow: 5px 10px 8px 10px darkgray;*/
}
body{
    margin:0% 0% 0% 0%;
    background-image: url("./img/Background.jpg");
    background-repeat: no-repeat;  
    height: 100%;
    background-size: cover;
    background-size: 100vw cover;
}

/*
.header_cont{
    background-color: lightgrey;
    color: white;
    margin:0% 0% 0% 0%;
}
*/

.header_title{
    color: white;
    font-size: 69px;
    text-align:center;
    text-shadow:0 0 8px black;
    /*border:2px solid black;*/
}

.nav_cont{
    display:flex;
    justify-content: space-around;
    /*background-color: darkgray;*/
    margin-bottom: 2%;
    box-shadow: 5px 10px 8px 10px black;
    background-color: rgba(114, 107, 107, 0.3);
}

.nav_cont > a{
    padding:1%;
    width:100%;
    border:2px solid white;
    text-align: center;
    text-decoration: none; /*changed this a lil bit*/
    text-decoration-color: white;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    font-size: 25px;
}

.nav_cont > a:hover{
    background-color: black;
}

.main_cont{
    width: 40%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background-color: lightgrey;
    margin:0px 5% 0px 5%;*/
}
.main_cont h2{
    text-shadow:0 0 8px black;
    color: white;
    font-size: 40px;
}

.pageLink_btn{
    cursor:pointer;
    width:30%;
    background-color: black;
    line-height: 50px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: white;
    font-size: larger;
    font-family: 'Times New Roman';
    font-weight: bolder;
    border: solid white;
}

.pageLink_btn:hover{
    background-color: gray;
    cursor: pointer;
}

.pageLink_btn > a{
    cursor:pointer;
    font-weight: bolder;
    text-decoration: none;
    font-size: 20px;
    color:white;
}
.descr_para{
    margin-top:0px;
    font-size:40px;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    color: white;
    text-shadow:0 0 8px black;
}

.register_p{
    margin-bottom: 0px;
}

.current_special{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 25px;
    text-align: center;
    color: white;
    text-shadow:0 0 8px black;
    border: solid white;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.7);
}

.current_special > li{
    padding: 10px 10px 10px 10px;
}


.slide_link{
    text-decoration: none;
    color:inherit;
}

.slide_cont{
    position:relative;
    margin:auto;
    width:100%;
}

.slide_cont:hover{
    cursor:pointer;
}

.slide_img{
    display: None;
    width:100%;
    background-color: blue;
    margin:0px;
}

.img_cont > img{
    display:block;
    width: 100%;
    max-height: 100%;
}


.captions{
    margin:0px;
    position:absolute;
    bottom:10px;
    font-size: 40px;
    width:100%;
    color: orange;
    font-weight: bolder;
    text-align: center;
}

@media (min-width: 701px) {
    .img_cont{
        display: inline-block;
        background-color: orange;
        width:70%;
        height:700px;
    }
    .food_descript{
        display:inline-block;
        background-color: darkred;
        width:30%;
        height:700px;
    }
    .food_descript > h3{
        font-size:30px;
        text-shadow: 2px 2px #000000;
        color:white;
        margin:0%;
        margin-top:50%;
        text-align: center;
    }
    .food_descript > p{
        font-size:30px;
        text-align: center;
        color:orange;
    }
    /*.food_descript{
        display: inline-block;
        width:30%;
        height:200px;
        background-color: darkred;
        margin:0px;
        position:absolute;
        bottom:4px;
        height:500px;
    }*/
}

@media (max-width: 700px){
    .img_cont{
        display: inline-block;
        background-color: orange;
        width:70%;
        height:300px;
    }
    .food_descript{
        display:inline-block;
        background-color: darkred;
        width:30%;
        height:300px;
        
    }
    .food_descript > h3{
        margin:0%;
        text-align: center;
    }
    .food_descript > p{
        font-size:20px;
        text-align: center;
        color:orange;
    }
    /*.food_descript{
        display: inline-block;
        width:30%;
        height:300px;
        background-color: darkred;
        margin:0px;
        position:absolute;
        bottom:4px;
    }*/
}

.open_info{
    text-align: center;
    color: white;
    border: solid white;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
    margin-top: 10px;
    text-shadow:0 0 8px black;
    /*background-color: aliceblue;
    margin:0% 5% 0% 5%;*/
    background-color: rgba(0,0,0,0.7);
}
.open_info h1{
    text-decoration: underline;
}

.open_info p{
    font-weight: bolder;
    font-size:25px;
}

footer{
    /*margin:0% 5% 0% 5%;*/
    height:100px;
    /*background-color: lightgray;*/
    display: flex;
    align-items: center;
    text-align: center;
}

.footer_button{
   height: 2vh;
   vertical-align: middle;
   justify-content: center;
   width: 100%;
   display: table;
}

.button{
    background-color: black;
    line-height: 50px;
    width: 300px;
    display: table-cell;
    justify-content: center;
    align-items: center;
    position:static;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    color: white;
    font-size: larger;
    font-family: 'Times New Roman';
    font-weight: bolder;
    border: solid white;
}

.button > a{
    cursor:pointer;
    font-weight: bolder;
    text-decoration: none;
    font-size: 20px;
    color:white;
}

.button:hover{
    background-color: gray;
    cursor: pointer;
}

/*About page*/
.about_content_paragraph{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size:40px;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    color: white;
    text-shadow:0 0 8px black;
    background-color:rgba(0,0,0,0.7);
    border-radius:10px;
    padding:10px;
}


/*MENU page*/
.dish_name{
    font-weight: bold;
    text-decoration: underline;
}

.dish_price{
    position:relative;
    left:90%;
}

.menu_special{
    font-size: 24px;
    width: 70%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-shadow:0 0 8px black;
    box-shadow: 5px 10px 8px 10px black;
    padding:10px 10px 10px 10px;
    border-radius: 10px;
    background-color:rgba(0,0,0,0.7);/*Makes it a lil bit easier to see menu and not fight background*/
}

.header_subtitle{
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: white;
    text-align: center;
    border: double white;
    text-shadow:0 0 8px black;
    box-shadow: 5px 10px 8px 10px black;
    padding:10px;
    width:400px;
    margin-top:50px;
}

/*----------reservation page----------*/
#reserve_form{
    width:50%;
    margin:10% auto 10% auto;
    text-align: center;
    /*border:5px solid black;
    background-color: orange;*/
}
#reserve_form fieldset{
    /*background-color: orange;*/
    background-color:rgba(0,0,0,0.7);
    text-align: center;
    border-radius: 20px;
    border-color:black;
    border-width: 5px;
}

legend{
    color:white;
}

#reserve_form label{
    margin-right:1%;
    color:white;
    font-size:20px;
    font-weight: bolder;
}

.space{
    margin:10px 0px 20px 0px;
    color:red;
    font-weight: bolder;
    font-size:15px;
}

.innerSpace{
    margin:0px 0px 00px 0px;
}

#reserve_form input{
    color:white;
    width:80%;
    padding:5px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgba(114, 107, 107, 0.3);
}

fieldset button{
    border-radius: 10px;
    padding:10px;
    font-size:15px;
    font-weight: bolder;
    cursor:pointer;
    border:2px solid black;
}
fieldset button:hover{
    background-color: lightblue;
}

@media (min-width: 700px){
    #reserve_form{
        width:50%;
        margin:10% auto 10% auto;
        text-align: center;
        /*border:5px solid black;
        background-color: orange;*/
    }
    #reserve_form fieldset{
        /*background-color: orange;*/
        background-color:rgba(0,0,0,0.7);
        text-align: center;
        border-radius: 20px;
        border-color:black;
        border-width: 5px;
    }
    
    legend{
        color:white;
    }

    #reserve_form label{
        margin-right:1%;
        color:white;
        font-size:20px;
        font-weight: bolder;
    }
    
    .space{
        margin:10px 0px 20px 0px;
        color:red;
        font-weight: bolder;
        font-size:15px;
    }
    
    .innerSpace{
        margin:0px 0px 00px 0px;
    }

    #reserve_form input{
        color:white;
        width:80%;
        padding:5px;
        border-radius: 10px;
        font-size: 20px;
        background-color: rgba(114, 107, 107, 0.3);
    }

    fieldset button{
        border-radius: 10px;
        padding:10px;
        font-size:15px;
        font-weight: bolder;
        cursor:pointer;
        border:2px solid black;
    }
    fieldset button:hover{
        background-color: lightblue;
    }
}
@media (max-width: 700px){
    #reserve_form{
        width:90%;
        margin:10% auto 10% auto;
        text-align: center;
        /*border:5px solid black;
        background-color: orange;*/
    }
    #reserve_form fieldset{
        /*background-color: orange;*/
        background-color:rgba(0,0,0,0.7);
        text-align: center;
        border-radius: 20px;
        border-color:black;
        border-width: 5px;
    }
    
    legend{
        color:white;
    }

    #reserve_form label{
        margin-right:1%;
        color:white;
        font-size:20px;
        font-weight: bolder;
    }
    
    .space{
        margin:10px 0px 20px 0px;
        color:red;
        font-weight: bolder;
        font-size:15px;
    }
    
    .innerSpace{
        margin:0px 0px 00px 0px;
    }

    #reserve_form input{
        color:white;
        width:80%;
        padding:5px;
        border-radius: 10px;
        font-size: 20px;
        background-color: rgba(114, 107, 107, 0.3);
    }

    fieldset button{
        border-radius: 10px;
        padding:10px;
        font-size:15px;
        font-weight: bolder;
        cursor:pointer;
        border:2px solid black;
    }
    fieldset button:hover{
        background-color: lightblue;
    }
   
}

@media only screen and (max-width: 1100px){
    .card{
        margin-top: 10%;
    }
    .button{
        width: 200px;
        height: 50px;
        justify-content: center;
    }
    
    .pageLink_btn{
        width: 200px;
        justify-content: center;
    }

    .descr_para{
        font-size:35px;
        font-weight: bold;
    }

    .main_cont{
        width: 80%;
    }

    .header_title{
        font-size: 35px;
    }

    .open_info{
        width: 80%;
    }

    .open_info p{
        font-size:15px;
    }

    .about_content_paragraph{
        width: 80%;
        font-size: 25px;
    }
}

/*TABLET*/
@media only screen and (max-width: 768px){
    .button{
        width: 150px;
        height: 40px;
        justify-content: center;
    }
    
    .about_content_paragraph{
        width: 80%;
        font-size: 25px;
    }
    .menu_special{
        width: 100%;
        font-size: 20px;
    }
    
    .header_subtitle{
        font-size: 30px;
    }

    .button{
        width: 150px;
        height: 50px;
        justify-content: center;
    }
}


/*PHONE*/
@media only screen and (max-width: 414px){
    .card{
        margin-top: 17%;
    }
    .button{
        width: 150px;
        height: 50px;
        justify-content: center;
    }

    .footer_button{
        vertical-align: middle;
    }
    
    .pageLink_btn{
        width: 150px;
        height: 50px;
        justify-content: center;
    }

    .descr_para{
        margin-top:0px;
        font-size:20px;
        font-weight: bold;
    }

    .main_cont{
        width: 100%;
    }

    .header_title{
        font-size: 35px;
    }

    .open_info{
        width: 100%;
    }

    .open_info p{
        font-size:15px;
    }

    .about_content_paragraph{
        width: 100%;
        font-size: 16px;
        font-weight: bold;
    }

    .current_special{
        width: 80%;
        font-size: 14px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }

    .main_cont h2{
        font-size: 30px;
    }

    .nav_cont{
        margin-left: auto;
        margin-right: auto;
    }
    
    .menu_special{
        width: 100%;
        font-size: 12px;
    }
    
    .header_subtitle{
        font-size: 24px;
    }
}







/*confirmation page*/
#confirm_message{
    text-align: center;
    margin-top:10%;
    margin:10% 20% 0% 20%;
}
#confirm_message > h1{
    font-size:40px;
}
#confirm_message > button{
    display:block;
    margin:10px auto 0px auto;
    padding: 10px;
    width: 100px;
    cursor:pointer;
    font-size: 20px;
    font-weight:bold;
    border-radius: 10px;
    border: none;
    background-color: lightgray;
}

#confirm_message > button:hover{
    background-color: lightblue;
}

/*login in stuff*/
#loggedIn, #loggedOut{
    display:none;
    width:100%;
    color:orange;
    background-color: rgba(0,0,0,0.7);
    text-align: right;
}
#loggedIn > h2{
    margin-right:10px;
}

#loggedIn > button{
    margin-right:10px;
    cursor:pointer;
}

#loggedOut > a > button{
    margin-right:10px;
    cursor:pointer;
}

/*Status Page form*/
#status_form{
    width:50%;
    margin:10% auto 10% auto;
    text-align: center;
    /*border:5px solid black;
    background-color: orange;*/
}
#status_form fieldset{
    /*background-color: orange;*/
    background-color:rgba(0,0,0,0.7);
    text-align: center;
    border-radius: 20px;
    border-color:black;
    border-width: 5px;
}

legend{
    color:white;
}

#status_form label{
    margin-right:1%;
    color:white;
    font-size:20px;
    font-weight: bolder;
}

.space{
    margin:10px 0px 20px 0px;
    color:red;
    font-weight: bolder;
    font-size:15px;
}

.innerSpace{
    margin:0px 0px 00px 0px;
}

#status_form input{
    color:white;
    width:80%;
    padding:5px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgba(114, 107, 107, 0.3);
}

fieldset button{
    border-radius: 10px;
    padding:10px;
    font-size:15px;
    font-weight: bolder;
    cursor:pointer;
    border:2px solid black;
}
fieldset button:hover{
    background-color: lightblue;
}

#modal_cont{
    display:none;
    width:92%;
    margin-left:4%;
    background-color:rgba(0,0,0, 0.7);
    position:absolute;
    border-radius:10px;
}
#exit_div{
    width:100%;
    text-align: right;
    position:absolute;
}
#modal_cont_exit{
    padding:10px;
    cursor:pointer;
    border-radius: 0px 10px 0px 0px;
}

#info_cancel_cont{
    /*background-color: purple;*/
    display:inline-flex;
    width:100%;
}

#info_cont{
    /*background-color: red;*/
    width:40%;
}
.modal_info{
    color:white;
    font-weight: bolder;
    margin-left:10px;
}
#b_buttons_cont{
    width:100%;
    margin-bottom:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.b_action{
    width:250px;
    padding:10px;
    cursor:pointer;
    border-radius:10px;
}
.b_action:hover, #modal_cont_exit:hover{
    background-color:lightblue;
}
.b_action:nth-child(1){
    margin-bottom:10px;
}
@media only screen and (max-width: 414px){
    .b_action{
        width:80%;
        margin-top:3px;
        text-align: center;
    }
}

#error_log{
    display:none;
    color:red;
}

#cancel_modal{
    display:none;
    text-align: center;
    width:50%;
    background-color:rgba(80,80,80);
}

.confirm_question{
    font-weight: bolder;
    font-size:30px;
    color:white;
}

.cancel_btns{
    cursor:pointer;
    width:50px;
    padding:5px;
}

#cancel_msg{
    display:none;
    font-size:20px;
    color:orange;
}

@media only screen and (max-width: 414px){
    #info_cancel_cont{
        display:block;
        width:100%;
        margin-bottom:10px;
    }
    #info_cont{
        width:100%;
    }
    #cancel_modal{
        text-align: center;
        width:100%;
    }
    #modal_cont_exit{
        padding:5px;
        cursor:pointer;
        border-radius: 0px 10px 0px 0px;
    }
}